/* line 5, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/concepts.scss */
.title {
  display: block;
  padding: 10px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
/* line 18, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
* {
  font-family: 'Ubuntu Mono';
}

/* line 24, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
a {
  text-decoration: none;
}

/* line 28, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
html, body {
  height: 100%;
}

/* line 32, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
body {
  margin: 0;
}

/* line 36, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
#title {
  display: block;
  padding: 10px;
}

/* line 41, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
#nav {
  display: inline-block;
  height: 100%;
  float: left;
  margin: 0;
  padding: 10px;
}
/* line 47, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
#nav .ctrl {
  height: calc(100% - 58px);
}
/* line 49, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
#nav .ctrl * {
  margin: 0;
  display: block;
  padding: 10px;
}
/* line 55, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
#nav .sub {
  margin-left: 16px;
}
/* line 59, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
#nav .social * {
  padding: 10px;
  display: inline-block;
  float: left;
}

/* line 68, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
.web * {
  display: block;
}
/* line 71, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
.web a {
  margin: 0;
  display: inline-block;
}
/* line 75, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
.web img {
  height: 400px;
}

/* line 80, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
iframe {
  width: 100%;
  transform: scale(0.6);
  height: 600px;
  border: 0;
}

/* line 87, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
.cont {
  margin: 0;
  display: inline-block;
  margin-left: 170px;
}
/* line 91, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
.cont * {
  margin: 10px;
}
/* line 94, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
.cont p {
  margin-left: 0;
  margin-right: 0;
}

/* line 100, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
#hello {
  float: left;
}

/* line 104, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
#nav {
  position: fixed;
}

/* line 108, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
.img {
  display: inline-block;
  cursor: pointer;
  float: left;
}
/* line 112, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
.img * {
  margin: 0;
}
/* line 115, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
.img span {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 120, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
.img img {
  height: 160px;
}

/* line 125, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
#disp {
  margin-left: 0;
  margin-right: 0;
}
/* line 128, /Users/Jack/RoR/jhak-ror/app/assets/stylesheets/application.scss */
#disp img {
  height: 400px;
}
