/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	font-family: 'Ubuntu Mono';
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

a {
	text-decoration: none;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
}

#nav {
	display: inline-block;
	height: 100%;
	float: left;
	margin: 0;
	padding: 10px;
	.ctrl {
		height: calc(100% - 58px);
		* {
			margin: 0;
			display: block;
			padding: 10px;
		}
	}
	.social {
		* {
			padding: 10px;
			display: inline-block;
			float: left;
		}
	}
}

.web {
	* {
		display: block;
	}
	a {
		margin: 0;
		display: inline-block;
	}
	img {
		height: 400px;
	}
}

iframe {
    width: 100%;
    transform: scale(0.6);
    height: 600px;
    border: 0;
}

.cont {
	margin: 0;
	display: inline-block;
	margin-left: 170px;
	* {
		margin: 10px;
	}
	p {
		margin-left: 0;
		margin-right: 0;
	}
}

#hello {
	float: left;
}

#nav {
	position: fixed;
}

.img {
	display: inline-block;
	cursor: pointer;
	float: left;
	* {
		margin: 0;
	}
	span {
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	img {
		height: 160px;
	}
}