#nav
	.ctrl
		=link_to "jackhasakeyboard", root_path
		=link_to "web", "/web"
		=link_to "concepts", "/web/concepts", class: "sub"
		=link_to "models", "/models"
		=link_to "source", "/source"
	.social
		=link_to "t", "http://jackhasakeyboard.tumblr.com/"
		=link_to "s", "http://www.shapeways.com/shops/jackhasakeyboard"
		=link_to "g", "https://github.com/JackHasaKeyboard"